<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form method="post" action="/send?edit=true&id=<%= data.id %>">
		<input name="name" value= <%= data.name %> > </input>
		<input name="message" value= <%= data.message %> > </input>
		<button>編集完了</button>
	</form>
</body>

</html>