<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		<table>
		<% for (let i=0; i<datas.length; i++) { %>
			<tr>
				<td>
					<a href="edit?id=<%= datas[i].id %>">
						<%= datas[i].name %>
					</a>
				</td>
				<td>
					<a href="edit?id=<%= datas[i].id %>">
						<%= datas[i].message %>
					</a>
				</td>
			</tr>
		<% } %>
		</table>
	</ul>
		<form method="post" action="/send?edit=false">
			<input name="name" />
			<input name="message" />
			<button>送信</button>
		</form>
		<form method="get" action="/reset">
			<button>reset all</button>
		</form>
</body>
</html>