<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		<% for (let i=0; i<lists.length; i++) { %>
		<%= lists[i].name %>
		<a href="rewrite?index=<%= i %>"><%= lists[i].message %>
		</a>
		<% } %>
	</ul>
		<form method="post" action="/send">
			<input name="name" />
			<input name="message" />
			<button>送信</button>
		</form>
</body>
</html>